@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
@import "tailwindcss";

#signupform{
    display: grid; /*by default uses single column*/
    width: 32px !important;
    height: 64px !important;
}