@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
 
  --primary: #775a19;
  --primary-light: #c5a059;

  --background: #fbf9f9;
  --surface: #ffffff;

  --text-primary: #1b1c1c;
  --text-secondary: #4e4639;

  --border: #e3e2e2;

  --desktop-margin: 64px;
  --mobile-margin: 20px;

  font-family: 'Manrope', sans-serif;

  color: var(--text-primary);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

#root {
  min-height: 100vh;
}